doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/@directus/visual-editing')
  body
    nav
      if user
        .user-info
          span Welcome, #{user.first_name || user.email}!
          a(href='/logout') Logout
      else
        a(href='/login') Login
    
    block content
    
    script(type="module").
      import { createDirectus, rest, readItem } from 'https://unpkg.com/@directus/sdk';

      const DIRECTUS_URL = 'https://dokploy-rob.uksouth.cloudapp.azure.com';
      
      document.addEventListener('DOMContentLoaded', function () {
        DirectusVisualEditing.apply({ directusUrl: DIRECTUS_URL });
      });

      const client = createDirectus(DIRECTUS_URL).with(rest());
      const result = await client.request(readItem('pages', 1));
      console.log(result);
