doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/@directus/visual-editing')
  body
    nav
      if user
        .user-info
          span Welcome, #{user.first_name || user.email}!
          span &nbsp;|&nbsp;
          a(href='/') Home
          span &nbsp;|&nbsp;
          a(href='/logout') Logout
      else
        a(href='/login') Login
    
    script(type="module").
      class BrickText extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `<div>${this.getAttribute('data-text')}</div>`;
        }
      }
      customElements.define('brick-text', BrickText);

      class BrickImage extends HTMLElement {
        connectedCallback() {
          const src = this.getAttribute('data-src');
          this.innerHTML = `<img src="${src}" alt="Brick Image" />`;
        }
      }
      customElements.define('brick-image', BrickImage);
    
    block content
    
    script(type="module").
      const DIRECTUS_URL = 'https://dokploy-rob.uksouth.cloudapp.azure.com';
      
      document.addEventListener('DOMContentLoaded', function () {
        DirectusVisualEditing.apply({ directusUrl: DIRECTUS_URL });
      });

