extends layout

block content
  .login-container
    h1 Login
    
    if error
      .error-message= error
    
    form(method="POST" action="/login")
      .form-group
        label(for="email") Email
        input#email(type="email" name="email" required placeholder="Enter your email")
      
      .form-group
        label(for="password") Password
        input#password(type="password" name="password" required placeholder="Enter your password")
      
      button(type="submit") Login
