name: Trigger auto deployment for px-future-node

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/px-future-node-AutoDeployTrigger-8793e9a1-1717-464f-b052-069dd35f0d59.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.PXFUTURENODE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.PXFUTURENODE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.PXFUTURENODE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.PXFUTURENODE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.PXFUTURENODE_REGISTRY_PASSWORD }}
          containerAppName: px-future-node
          resourceGroup: a1a-51381-dev-rg-mgmt-uks-01
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


